@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: "Source Code Pro", monospace;
}

header {
    background-color: slategrey;
    text-align: center;
    padding: 0 1rem;
    padding-top: 25px;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #313f31;
}

header a {
    font-size: 100%;
    color: lightseagreen;
    text-decoration: none;
}

#logo {
    margin-left: auto;
}

#options {
    font-size: 90%;
    letter-spacing: 3px;
    list-style-type: none;
    padding-bottom: .5em;
}

#language-options-large {
    display: none;
    font-size: 110%;
    padding-top: 15px;
    justify-content: space-evenly;
}

#language-options-small {
    display: flex;
    font-size: 110%;
    padding-top: 15px;
    justify-content: space-evenly;
}

.active {
    border-bottom: 1px solid lightseagreen;
}

nav {
    position: absolute;
    left: 0;
    background-color: slategray;
    padding: 0 1rem;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #313f31;
    display: none;
    top: 98%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: darkslategrey;
    font-size: 2rem;
}

.nav-toggle-label:hover {
    color: antiquewhite;
}

main {
    background-color: darkslategrey;
    flex: 1 0 auto;
    margin-top: 107px;
}

footer {
    background-color: antiquewhite;
    font-size: 130%;
    bottom: 0%;
}

#social-media-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media-links i {
    font-size: 160%;
    padding: 5%;
    color: rgb(9, 31, 31);
}

.centered {
    font-size: 150%;
    padding-top: 1em;
    padding-bottom: 40px;
    text-align: center;
}

.button-centered {
    /* display: flex; */
    /* align-items: center; */
    /* font-size: 70%; */
    /* text-align: center; */
    color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
}

#all-books {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: none;
}

.book {
    background: no-repeat center center/cover;
    background-color: antiquewhite;
    border: solid;
    width: 270px;
    height: 400px;
    margin: 25px;
    padding: 35px;
    border-radius: 20px;
}

.book-details {
    display: none;
}

button {
    padding: 2%;
    border-radius: 20px;
}

.with-border {
    padding: 35px;
    align-items: center;
}

.language {
    background-color: antiquewhite;
    display: flex;
    width: 20%;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
}

.language:hover {
    background-color: rgb(253, 246, 241);
}

#difficulty-rating {
    font-weight: bold;
}

#questionBox {
    background-color: antiquewhite;
    border: solid;
    width: 250px;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
}

#question {
    text-align: center;
    padding: 10% 10px;
    font-size: 130%;
}

#difficulty-area {
    border: solid;
    border-radius: 20px;
    padding: 10px;

}

#score-area {
    margin-bottom: 40px;
    text-align: center;
}

#score-output {
    font-size: 150%;
    text-align: center;
}

#answer-options-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 5%;
    gap: 10px;
    justify-content: space-evenly;
}

.space-between {
    width: 20px;
    height: auto;
    display: inline-block;
}

.button-sizing {
    display: flex;
    flex-wrap: wrap;
    font-size: 70%;
    width: auto;
    height: auto;
    padding: 20px;
}

#resultsBox {
    background-color: antiquewhite;
    border: solid;
    width: 100%;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
}

.amazon-button {
    background-color: orange;
    border: solid;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
}

.bold {
    font-weight: bold;
}

.enlarged {
    font-size: 110%;
    padding-top: 1em;
}

#play-again-msg {
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    padding-top: 10%;
}

#computer-image {
    height: 1100px;
    background: url("../images/laptop.jpg") no-repeat center center/cover;
    align-items: center;
    border-radius: 20px;
}

#coding-books-image {
    height: auto;
    align-items: center;
    background: url("../images/coding-dark-image.jpg") no-repeat center center/cover;
    border-radius: 20px;
}


/* Media query: tablets and larger (330px and larger)*/
@media screen and (min-width: 330px) {
    #questionBox {
        width: 306px;
    }

    .book-details {
        display: block;
        font-size: 80%;
    }
}

/* Media query: tablets and larger (425px and larger)*/
@media screen and (min-width: 425px) {
    #questionBox {
        width: 356px;
    }

    #question {
        font-size: 120%;
    }

    .button-sizing {
        font-size: 100%;
    }
}

/* Media query: tablets and larger (768px and larger)*/
@media screen and (min-width: 768px) {
    .with-border {
        padding: 75px;
    }

    #language-options-large {
        display: flex;
    }

    #language-options-small {
        display: none;
    }

    .language {
        font-size: 110%;
    }

    #difficulty-rating {
        font-size: 130%;
    }

    #questionBox {
        width: 100%;
        align-items: center;
    }

    #score-area {
        margin-bottom: auto;
    }

    #computer-image {
        height: 1200px;
    }

    #coding-books-image {
        height: 4600px;
    }

    .book-details {
        font-size: 100%;
    }

    /* .button-sizing {
        padding: 15px;
        font-size: 90%;
        width: 150px;
    } */

    .button-sizing {
        font-size: 130%;
    }

    .button-centered {
        /* TODO: confirm this sizing */
        font-size: 120%;
    }

    #options {
        /* TODO: confirm this sizing */
        font-size: 110%;
    }

    main {
        /* TODO - confirm this sizing */
        margin-top: 107px;
    }

    .centered {
        /* TODO - confirm this sizing */
        font-size: 220%;
    }

    #question {
        /* TODO - confirm padding here */
        font-size: 240%;
    }

    /* #answer-options-box {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    } */

    #logo {
        font-size: 250%;
    }

}

/* Media query for laptops and larger (>= 992px) */
@media screen and (min-width: 992px) {
    /* #answer-options-box {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    } */

    .button-sizing {
        font-size: 150%;
    }
}

/* Media query for laptops and larger (>= 1024px) */
@media screen and (min-width: 1024px) {
    #coding-books-image {
        height: 2400px;
    }

    .book-details {
        display: block;
        font-size: 80%;
    }
}

/* Media query for laptops and larger (>= 1280px) */
@media screen and (min-width: 1280px) {
    #answer-options-box {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
        /* flex-wrap: wrap; */
        align-items: center;
    }
}